html, body{
	font-family: sans-serif;
	margin: 0;
}
header{
	background-color: #ffffff;
	padding: 40px;
	background-image: src="img/ok_lol";
	background-repeat: repeat;
	text-align: center;
}

h1{
font-size: 90px;
color: white;
text-shadow: 0 4px 20px black;
margin: 0;
text-transform: uppercase;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid #99d6ff;
	box-shadow: 0 10px 20px black;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	background-color: coral;
	padding: 0 20px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: red;
	text-decoration: none;
}
footer{
	padding: 40px 20px;
	background-color: #E6E6E6; 
}

footer ul{
	text-align:center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}